@keyframes blackToWhite {
    from {stroke: '#000';}
    to   {stroke: '#fff';}
}

@keyframes whiteToBlack {
    from {stroke: '#000';}
    to   {stroke: '#fff';}
}

html {
    background-color: white;
}

body {

}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

#splash-logo #splash {
    z-index: 1001;
}

#splash-logo .splash-bg {
    position: fixed;
    left: 0;
    width: 100%;
    height: 51%;
    background: #000;
    z-index: 1000;
}

#splash-logo .splash-bg-top {
    top: 0;
}

#splash-logo .splash-bg-bottom {
    bottom: 0;
}

#nav-bar {
    z-index: 1001;
}

#nav-bar path {

}

#nav-bar .el {
    height: 90px;
    z-index: 1002;
}

#drop-menu {
    z-index: 1000;
    position: fixed;
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
}

#nav-drop {
    display: none;
    background-color: black;
    color: white;
    z-index: 800;
    height: auto;
    width: 90px;
    right: 0;
    top: 90px;
}

#nav-drop ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

#nav-drop ul li {
    padding-top: 5px;
    width: 100%;
}

#test1 .a {
    background: #000;
    height: 100px;
}

#content-container {
    z-index: 1;
}

.crop {
    overflow: hidden;
}

.fill-screen {
    height: 100.0vh;
    width: auto;
}

.img-center {
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
}

.testsquare {
    background-color: black;
    position: fixed;
}

#square1 {
    top: 100px;
    left: 50px;
    width: 100px;
    height: 100px;
}